<% array = Array.new %>
<% extract = Array.new %>


<% @appointments.each do |appointment| %>
    <% array.push(appointment.appointment_date)%>
<% end %>

<% @size = array.size %>
<% for i in 0..@size-1 %>
  <% unless (array[i] == array[i+1]) %>
    <% extract.push(array[i]) %>
  <% end %>
<% end %>

<% puts(extract) %>
<% @sizex = extract.size %>

<% array2 = Array.new %>
<% extract2 = Array.new %>


<% @appointments.each do |appointment| %>
  <% array2.push(appointment.start_time)%>
<% end %>

<% @size2 = array2.size %>
<% for i in 0..@size2-1 %>
  <% unless (array2[i] == array2[i+1]) %>
    <% extract2.push(array2[i]) %>
  <% end %>
<% end %>

<% puts(extract2) %>
<% @sizex2 = extract2.size %>

<% for i in 0..@sizex2-1 %>
  <div id="accordion">


    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Collapsible Group Item #1
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <table class="table" id="table">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Username</th>
              <th scope="col">Sala</th>
              <th scope="col">Appointment Date</th>
              <th scope="col">Start Time</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <% @appointments.each do |appointment| %>
              <% if ( extract[i] == appointment.appointment_date ) %>
                <tr>
                  <th scope="row">1</th>
                  <td class="appointment-data"> <%= appointment.user.username %> </td>
                  <td class="appointment-data"> <%= appointment.room.name %> </td>
                  <td class="appointment-data"> <%= appointment.appointment_date %> </td>
                  <td class="appointment-data"> <%= appointment.start_time %> </td>
                  <td> <%= link_to 'Editar', edit_appointment_path(appointment.id) %> </td>
                </tr>

            <% end %>
              <%end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

<% end %>



<%= link_to "Voltar ao perfil", root_path, class:'btn btn-secondary' %>