<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <% if current_user.is_admin? %>
        <%= render 'layouts/header-admin' %>
        <%= yield %>
      <% else %>
        <%= render 'layouts/header-user' %>
        <%= yield %>
      <% end %>
    <% end %>
    <% if !user_signed_in? %>
        <%= yield %>
    <% end %>
  </body>
</html>
